<h4>Welcome, <%= @user.email %></h4> <%= link_to "Sign Out", logout_path, method: :delete %>
<br>

<div class="jumbotron" id="create-link">
  <h2>Create Link</h2>
  <%= bootstrap_form_for :link do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :url %>
    <%= f.submit "Create" %>
  <% end %>

  <div class="centered well">
    <h2>Links</h2>
    <% @links.each do |link| %>
      <div class="well">
        <%= link.title %>: <%= link.url %>
      </div>
    <% end %>
  </div>

</div>
